# Travis configuration for epoxy-images
#
# epoxy-images supports release automation to Cloud Storage buckets for branches
# in the m-lab/epoxy-images repository. To achieve this, the build takes the
# following steps:
#
#  * decrypt service account credentials, under keys/*.tar.enc
#  * install the Google Cloud SDK command line tools (gcloud)
#  * cache the gcloud installation and setup
#  * build all epoxy-images
#  * on success, deploy the result to the correct Cloud Storage bucket when
#    the target branch matches a supported deployment target.

env:
- COREOS_VERSION="1855.4.0"

services:
- docker

# These directories will be cached on successful "script" builds, and restored,
# if available, to save time on future builds.
cache:
  directories:
    - "$HOME/google-cloud-sdk/"

script:
- set -e

- time docker build -t epoxy-images-builder . &> build.log || (cat build.log && false)

# Enable gsutil downloads from private GCS buckets, using the mlab-sandbox SA.
- $TRAVIS_BUILD_DIR/travis/install_gcloud.sh
- $TRAVIS_BUILD_DIR/travis/activate_service_account.sh SERVICE_ACCOUNT_mlab_sandbox

- mkdir $TRAVIS_BUILD_DIR/output

# Build stage2 vmlinuz image.
# TODO: clean up args to setup_stage2.sh script.
# TODO: use alternative to travis_wait to allow build with no output for longer
#       than 10m.
- time docker run -t -v $TRAVIS_BUILD_DIR:/images epoxy-images-builder
      bash -c "/images/setup_stage2.sh
         /buildtmp
         /images/vendor
         /images/configs/stage2
         /images/output/stage2_initramfs.cpio.gz
         /images/output/stage2_vmlinuz
         /images/output/epoxy_client /images/stage2.log
         /images/travis/one_line_per_minute.awk" || (cat stage2.log && false)

# Build coreos custom initram image.
# Note: set the umask so the travis user can read newly created files.
- time docker run -v $TRAVIS_BUILD_DIR:/images -w /images epoxy-images-builder
      bash -c "umask 0022; /images/setup_stage3_coreos.sh /images/configs/stage3_coreos
        /images/output/epoxy_client
        http://stable.release.core-os.net/amd64-usr/$COREOS_VERSION/coreos_production_pxe.vmlinuz
        http://stable.release.core-os.net/amd64-usr/$COREOS_VERSION/coreos_production_pxe_image.cpio.gz
        /images/output/coreos_custom_pxe_image.cpio.gz &> /images/coreos.log" || (tail -20 coreos.log && false)

# Build stage3 mlxupdate image.
#
# Note: download the mellanox firmware tools from cache in private bucket,
#       since origin (http://www.mellanox.com/downloads/MFT/mft-4.4.0-44.tgz)
#       is sloooow.
- gsutil cp gs://vendor-mlab-oti/epoxy-images/mft-4.4.0-44.tgz $TRAVIS_BUILD_DIR/

# Note: build must be privileged to mount /proc & /sys during debootstrap build.
#
# Note: when /build location is internal to container fs, i/o is more efficient.
#
# Note: setup_stage3_mlxupdate_isos.sh depends on build artifacts from
# setup_stage3_mlxupdate.sh in /build. If these are not present,
# setup_stage3_mlxupdate_isos.sh will fail to generate ISOs.
#
# Note: reserve mlab4.lga0t for mlab-sandbox and mlab1-3.lga0t for mlab-staging.
# TODO: larger sets of per-project images must be built outside of travis.
- time docker run -it --privileged -v $TRAVIS_BUILD_DIR:/images -w /images epoxy-images-builder
      bash -c "umask 0022; install -D -m 644 /images/mft-4.4.0-44.tgz /build/mft-4.4.0-44.tgz
        && echo 'Starting stage3_mlxupdate build'
        && /images/setup_stage3_mlxupdate.sh
                /build /images/output /images/configs/stage3_mlxupdate
                /images/output/epoxy_client
          &> /images/stage3_mlxupdate.log
        && echo 'Starting ROM & ISO build'
        && /images/setup_stage3_mlxupdate_isos.sh
            mlab-sandbox /build /images/output 'mlab4.(iad1t|lga0t).*' 3.4.809
              /images/stage3_mlxupdate_iso.log /images/travis/one_line_per_minute.awk
        && /images/setup_stage3_mlxupdate_isos.sh
            mlab-staging /build /images/output '(mlab[1-3].(iad1t|lga0t)|mlab3.lax02|mlab3.lga03).*' 3.4.809
              /images/stage3_mlxupdate_iso.log /images/travis/one_line_per_minute.awk"
        || (tail -40 stage3_mlxupdate.log && tail -40 stage3_mlxupdate_iso.log && false)
- ls -l $TRAVIS_BUILD_DIR/output

# Deploy steps never trigger on a new Pull Request. Deploy steps will trigger
# after a merge with matching "on:" conditions.
deploy:
# SANDBOX: before code review for development code in a specific branch.
- provider: script
  script:
      $TRAVIS_BUILD_DIR/deploy_epoxy_components.sh
        SERVICE_ACCOUNT_mlab_sandbox gs://epoxy-mlab-sandbox
  skip_cleanup: true
  on:
    repo: m-lab/epoxy-images
    all_branches: true
    condition: $TRAVIS_BRANCH == sandbox-*

# STAGING: after code review and before QA testing.
- provider: script
  script:
      $TRAVIS_BUILD_DIR/deploy_epoxy_components.sh
        SERVICE_ACCOUNT_mlab_staging gs://epoxy-mlab-staging
  skip_cleanup: true
  on:
    repo: m-lab/epoxy-images
    branch: dev

# PRODUCTION: after code review and after QA tests on staging have passed.
