# This is an example .env file for the ndt-fullstack docker compose file.
#
# ### External directories ###
#
# These folders are mounted by the various containers in the fullstack NDT
# Docker compose. If they do not exist, they are created the first time the
# containers start, owned by the docker daemon's user (generally root).
#
# The only folder that MUST exist and contain the service account key file
# (see below) is ./certs. This file must also be readable by Docker's user.
#
# All other folders are created and managed by the containers in the Docker
# compose.
#
# ./html: Content served by ndt-server. Can be used to provide your own
#   speedtest UI.
#
# ./certs: Contains the service account key file. This key file (provided by
#   M-Lab) is expected to be placed at certs/service-account-autojoin.json.
#   This file must be present for several components in the docker compose to
#   work properly.
#
# ./resultsdir: Contains the test results waiting to be uploaded.
#
# ./schemas: Contains the JSON schemas for the test results.
#
# ./autocert: Contains the automatically-generated LetsEncrypt TLS certificates
#   so that they can be reused across docker compose restarts.
#
# ./autonode: Contains the configuration files for the NDT server and all the
#   sidecar containers, provided by the Autojoin API on node registration.
#
# ./metadata: Contains configuration files used by some services such as
#   traceroute-caller to read external IP addresses in some environments.

# ### Configuration variables ###
# Change the following settings according to your environment.

# ORGANIZATION is the organization name assigned by M-Lab to your deployment.
ORGANIZATION=googleoim

# API_KEY is the API key provided by M-Lab.
API_KEY={{API_KEY}}

# IATA is the 3-letter, lowercase IATA code of the nearest international
# airport. You can use the following service to estimate it, providing your
# server's latitude and longitude:
# https://autojoin-dot-mlab-autojoin.appspot.com/autojoin/v0/lookup?lat=&lon=
IATA={{IATA}}

# PROBABILITY is the probability that this node will be selected by M-Lab's
# load balancer. Tweak it according to how much traffic this node can handle.
# A probability of 1 (100%) means that this node will be equally as likely to
# be selected as any other M-Lab node in the same metro. Default is 0.1 (10%).
PROBABILITY={{PROBABILITY}}

# INTERFACE_NAME is the name of the interface to apply INTERFACE_MAXRATE to.
INTERFACE_NAME=ens4

# UPLINK is the speed of the uplink the M-Lab machine is connected to. The value
# must be expressed as an integer followed by the letter "g" (e.g., "1g", "10g",
# "25g"), where "g" represents Gbps (gigabits per second). The minimum uplink
# M-lab requires is 1g, but 10g or greater is recommended.
UPLINK=7g

# INTERFACE_MAXRATE is the rate (in bit/s) after which the NDT server will
# refuse new connections. Set it according to this node's uplink defined in
# UPLINK.
# Recommended values:
# - 1G: INTERFACE_MAXRATE=150000000
# - 10G: INTERFACE_MAXRATE=7000000000
INTERFACE_MAXRATE=4000000000

# IPV4 is the external IPv4 address that this node will be reachable at.
# This is required.
IPV4={{IPV4}}

# IPV6 is the external IPv6 address that this node will be reachable at.
# If you want you node to be accessible over IPv6, this must be set.
IPV6={{IPV6}}

# TYPE is the type of machine that will be running the M-Lab software. The only
# valid values are "physical" or "virtual". This helps M-Lab understand the
# environment where the software is running. In other words, is the machine a
# bare-metal machine dedicated to M-Lab, or a VM?
TYPE=virtual

# ### Static configuration variables ###
# ###    Do NOT change these.        ###

PROJECT=mlab-autojoin
LOCATE_URL=locate.measurementlab.net
