[Unit]
Description=Configures quotas for M-Lab experiment data directories.

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/mlab_set_quotas.sh /etc/mlab_quotas /cache/data

