[Unit]
Description=Runs periodic jobs.
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/run-parts /etc/periodic/15min

[Install]
WantedBy=multi-user.target

