[Unit]
Description=bmc-store-password
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=120
Restart=always
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStart=/usr/bin/docker run --publish 8801:8801 \
                              --name %N -- \
                              measurementlab/epoxy-extensions:bmc_store_password-v0.2.1
ExecStop=/usr/bin/docker stop %N

[Install]
WantedBy=multi-user.target

