[Unit]
Description=Mount, and possibly format, the cluster data volume
After=mount-cluster-data.service
Requires=mount-cluster-data.service

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/create-control-plane.sh

[Install]
WantedBy=multi-user.target

