[Unit]
Description=Join the M-Lab Platform Cluster
# The presence of this file indicates that this machine has already joined the
# cluster.  If it exists, do not run this unit.
ConditionPathExists=!/etc/kubernetes/kubelet.conf

[Service]
ExecStart=/opt/mlab/bin/join-cluster.sh
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
