[Unit]
Description=Mount, and possibly format, the M-Lab persistent data volume

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/mount-data-internal.sh

[Install]
WantedBy=multi-user.target

