[Unit]
Description=Mount, and possibly format, the API data volume

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/mount-data-api.sh

[Install]
WantedBy=multi-user.target

