[Unit]
Description=Mount Docker Data Volume
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/cache-docker
Where=/cache/docker
Type=xfs
Options=defaults

[Install]
RequiredBy=docker.service

