[Unit]
Description=Mount Experiment Data Volume
After=format-cache.service
Requires=format-cache.service

[Mount]
What=/dev/disk/by-label/cache-data
Where=/cache/data
Type=xfs
Options=defaults,prjquota

[Install]
RequiredBy=docker.service

