[Unit]
Description=Mount Experiment Data Volume
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/cache-data
Where=/cache/data
Type=xfs
Options=defaults,prjquota

[Install]
RequiredBy=containerd.service

