[Unit]
Description=Mount containerd Data Volume
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/cache-containerd
Where=/cache/containerd
Type=xfs
Options=defaults

[Install]
RequiredBy=containerd.service

