[Unit]
Description=Mount Experiment Data Volume

[Mount]
What=/dev/disk/by-label/cache-data
Where=/cache/data
Type=xfs
Options=defaults,prjquota

[Install]
RequiredBy=docker.service

