[Unit]
Description=Configures TCP pacing properly depending on the site's uplink speed
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/configure_tc_fq.sh

[Install]
WantedBy=multi-user.target

