[Unit]
# We want this unit to run before we mount to be sure that disk gets formatted first.
Before=cache-data.mount cache-containerd.mount
After=dev-sda.device sysinit.target
ConditionPathExists=!/cache/data
ConditionPathExists=!/cache/containerd
DefaultDependencies=no

[Service]
Type=oneshot
# Create cache directory in root filesystem.
ExecStart=/opt/mlab/bin/format-cache.sh

[Install]
# This requirement should cause these mounts to fail if this unit fails.
RequiredBy=cache-data.mount cache-containerd.mount
WantedBy=multi-user.target

