[Unit]
Description=Leave cluster before shutdown
After=multi-user.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/opt/mlab/bin/leave-cluster.sh

[Install]
WantedBy=multi-user.target
