[Unit]
Description=Writes metadata to a known location
Before=setup-after-boot.service

# generate-eth0-config.service sets the hostname of the machine to the expected
# M-Lab DNS name for the machine. Since this write-metadata unit writes the
# hostname value to the metadata directory, then be sure this unit runs later,
# otherwise we get some randomish looking string for the hostname.
After=generate-eth0-config.service systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/opt/mlab/bin/write-metadata.sh

[Install]
WantedBy=multi-user.target
